<br>
<center>
<img src="https://upload.wikimedia.org/wikipedia/commons/e/ed/Pandas_logo.svg" width="50%">
</center>
<br>

# Pandas

## ¿Qué es Pandas?

Seguramente conoces la aplicación de Microsoft llamada Excel para trabajar con hojas de cálculo. Seguramente lo has usado alguna vez.
Pues si tenemos que contarte de una manera directa y sencilla qué es Pandas, Pandas es el "Excel" de Python. Bueno, cuando lo conozcas pensarás que la comparación no es del todo apropiada... pero para tener una primera idea, la imagen es muy útil.

Pandas es una muy potente librería para el análisis y la manipulación de datos. Estos datos se trabajan en dos tipos de estructuras: el marco de datos (*DataFrame*) y la serie de datos. Podrías pensar que la primera estructura es lo que conocías como "hoja de cálculo" y la serie como su propio nombre indica es una columna de esa "hoja de cálculo".

Pandas es una de las herramientas más populares para el trabajo en ciencia de datos. Encontrarás muchas herramientas para el análisis de tus datos, y como veremos con la librería Seaborn, el "marco de datos" de Pandas se ha convertido en otro standard de almacenamiento de datos usado al igual que los arreglos de Numpy en muchas otras librerías.

Pero mejor que describir qué es Pandas, es que veamos un poquito cómo funciona y qué es un marco de datos (*DataFrame*).

## ¿Cómo se instala?

Para ver instrucciones generales de instalación puedes visitar la página oficial. Allí encontrarás indicaciones específicas para tu sistema operativo y/o tu gestor de entornos y paquetes. Aquí supondremos que estás trabajando en tu entorno de conda, así que el comando que debes teclear en la terminal es:

```bash
conda install -c conda-forge pandas
```

## ¿Cómo se usa?

### Importando Pandas

In [1]:
import pandas as pd

### El Pandas DataFrame

Veamos con un ejemplo lo que es un DataFrame de Pandas.

Supongamos que tenemos un conjunto de datos de 5 especies distintas "A", "B", "C", "D" y "E". Estos datos son el valor numérico de 4 atributos: "Atributo 1", "Atributo 2", "Atributo 3" y "Atributo 4". Para generar los datos vamos a hacer uso de la misma estrategia que viste en uno de los retos de la semana pasada:

In [7]:
from sklearn import datasets

dataset, membership = datasets.make_blobs(n_samples=500, n_features=4, centers=5, cluster_std=1.0)

cluster_a_especie = {0:'A', 1:'B', 2:'C', 3:'D', 4:'E'}
especies = [cluster_a_especie[ii] for ii in membership]

Tenemos los datos numéricos de los atributos en un arreglo de Numpy de tamaño (500,4) y la especie a la que pertenece cada individuo en una lista de longitud 500:

In [10]:
type(dataset)

numpy.ndarray

In [11]:
dataset.shape

(500, 4)

In [12]:
type(especies)

list

In [13]:
len(especies)

500

¿No sería muy útil tener todas los datos en un solo objeto? Y si además ese objeto me proporciona herramientas de manipulación y análisis... Pues te presento al marco de datos (*DataFrame*) de Pandas:

In [14]:
dataframe = pd.DataFrame()

In [16]:
dataframe['Atributo 1']=dataset[:,0]
dataframe['Atributo 2']=dataset[:,1]
dataframe['Atributo 3']=dataset[:,2]
dataframe['Atributo 4']=dataset[:,3]
dataframe['Especie']=especies

In [17]:
dataframe

     Atributo 1  Atributo 2  Atributo 3  Atributo 4 Especie
0      7.920106    3.450407    8.266595   -0.466505       E
1     -5.492490    3.987087   -1.777449    6.346447       D
2     -5.777371    7.154150    4.249577   -5.291126       C
3     -6.098873   -9.534975    4.810362    3.097021       B
4     -8.500310    8.759037    5.275436   -3.102927       C
..          ...         ...         ...         ...     ...
495   -4.539351    3.540893    1.122374    3.534344       D
496   -5.502339    1.596829   -1.871361    4.912942       D
497    8.249076    2.788061   12.078724   -2.500344       E
498   -5.160133    2.212279   -0.531630    5.119538       D
499   -6.999971   -7.933641    5.001307    3.717836       B

[500 rows x 5 columns]